/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 32px;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;

  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 32px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;

  background-color: #4e75ff;
  transition: background-color 0.3s ease;
  border: none;
  font: 500 16px / 1.5 var(--font-family);
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background-color: #6c8cff;
}
.search-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 272px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.search-input:hover {
  border: 2px solid #0073ff;
}
.search-input:focus {
  border: 2px solid #0073ff;
  background-color: #f0f0f0;
}

#loader {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #ff3d00;
  letter-spacing: 2px;
  position: absolute;
  top: 20%;
  left: 45%;
  box-sizing: border-box;
  margin: 0 auto;
}
#loader::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.loader.is-visible {
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  margin: 0 auto;
}
.gallery-item {
  display: block;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid #808080;
  width: 300px;
  height: auto;
  transition: transform 0.3s ease;
}
.gallery-item:hover {
  transform: translateY(-10%);
}
.image-info {
  display: block;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 25px;
  margin: 0 auto;
  width: calc(100% - 45px);
}

.image-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333;
  gap: 8px;
}
.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
